.doc-logo {
	width: 150px;
	float: left;
	padding-top: 20px;
}

.container{
	width: 100%;
	margin-bottom: 75px;
}

header{
	background-color: #d6d7d9;
	height: 190px;
}

.header-text{
	margin-top: .5em;
	margin-bottom: 0em;
	text-align: right;
}

nav{
	float: right;
}

.usa-width-one-half, .usa-width-one-whole{
	display: inline;
	width: 100%;
}

.landing-page-buttons{
	float:right;
}

.logout-button{
	float:right;
}

footer, .usa-footer-primary-section {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #d6d7d9;
}

.footer-text{
	float:right;
}

#not-live  {
	background-color: grey;
}

#not-live:hover{
	background-color: grey;
}

#not-live:active{
	background-color: grey;
}

.usa-drop_text {
  margin-bottom: 10; }

form{
	float: inherit;
}

fieldset {
  border: none;
  margin: 0 2px;
  padding: 0; }

td > a{
	display: block;
}
