.doc-logo {
	padding-top: 10px;
	height: 65px;
	position: absolute;
}


header{
	background-color: #112e51;
	height: 70px;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
}

.header-left{
	display: inline-block;
	color: white;
}

.header-text {
	color: white;
	margin: .05em 0 0;
	display: inline-block;
	padding-left: 70px;
	padding-top: 20px;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 25px;
}

nav{
	float: right;
}

.nav-buttons{
	float:right;
	padding-top: 20px;
}

.btn{
	border-radius: 0;
	border-color: transparent;
}
.my-button{
	color: white;
    background-color: transparent;
    border-radius: 0;
    border-color: transparent;
    font-weight: bold;
    font-size: 15px;
}

.my-button:hover,
.btn-default:focus,
.btn-default.my-button:focus
 {
  background-color: #205493;
   border-color: transparent;
  color:white;
}

/*.my-button:active,
.my-button:focus {
  background-color: #205493;
  border-color: transparent;
  color:white;
}*/


.btn-primary{
	background-color: #205493;
}

.btn-success{
	background-color: #2e8540;
}
body {
	background-color: white;
	font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
}

.container{
	padding: 40px;
}

.container:empty{
	display: none;
}

ul, li{
	list-style: none;
	list-style-type: none;
}

h1, h2, h3, h4 {
	font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
	font-weight: 500;
	font-size: 30px;
}

.accordion-padding {
	padding: 20px;
}

footer {
    height: 40px;
    background-color: #112e51;
    color: white;
}

.footer-text{
	padding-top: 10px;
	padding-right: 20px;
	float: right;
}

.background-image {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    background-image: url(../img/night-lights.png);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding: 275px;
}

.home-heading{
	font-family: 'Raleway', sans-serif;
	padding-bottom: 10px;
	font-size: 100px;
	text-shadow: 2px 2px 8px black;
}

.home-heading-text{
		font-family: 'Raleway', sans-serif;
	font-size: 30px;
	text-shadow: 2px 2px 8px black;
}

/* For trip_detail.html */
.back-button{
	float: right;
}

.border-box{
    box-sizing: border-box;
    background-color: #d6d7d9;
    box-shadow: 0 -1px 0 #f1f1f2,0 0 2px rgba(0,0,0,.05),0 2px 4px rgba(0,0,0,.09);
    padding: 1em;
    margin-top: 2em;
    position: relative;
}

table {
	margin: 0em;
}

div.mobile_button {
	display: none;
}

@media(max-width: 768px) {
	header {
		background-color: #112e51;
		height: 100px;
	    color: white;
	    padding-left: 20px;
	    padding-right: 20px;
}

fieldset {
  border: none;
  margin: 0 2px;
  padding: 0; }
}

#map {
	width:100%;
	height: 300px;
}

#timefilter > li{
	display: inline-block;
	margin-right: 10px;
}

.dropdown{
	position: absolute;
	right: 2em;
	top: 1em;
}

td > a{
	display: block;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

text{
	text-shadow: 0px 0px 4px #000000;
}

ul li:before {
  content: " ";
  display: table-cell;
  padding-right: 0.4em;
}

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #5B616B;
  border-radius: 0px;
}

.select2-container .select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 45px;
  user-select: none;
  -webkit-user-select: none;
}

.container.dashboardViewBuffer {
	padding-bottom: 0px;
}

.destinationTitle {
	display: inline-block;
	margin-top: 0px;
}

.dropdown.dashboardDropdownStyle {
	position: initial;
	display: inline-block;
	padding-left: 0px;
}

.container.dashboardBottomContainer {
	padding-bottom: 50px;
	padding-top: 30px;
}

.table td{
   text-align: center;
}
