.doc-logo {
	width: 150px;
	float: left;
	padding-top: 20px;
}

.container{
	width: 100%;
}

header{
	background-color: #d6d7d9;
	height: 190px;
}

.header-text{
	margin-top: .5em;
	margin-bottom: 0em;
	text-align: right;
}

nav{
	float: right;
}

.usa-width-one-half, .usa-width-one-whole{
	display: inline;
	width: 100%;
}

.landing-page-buttons{
	float:right;
}

.logout-button{
	float:right;
}

footer, .usa-footer-primary-section {
    height: 50px;
    background-color: #d6d7d9;
}

.footer-text{
	float:right;
}

#not-live  {
	background-color: grey;
}

#not-live:hover{
	background-color: grey;
}

#not-live:active{
	background-color: grey;
}

.usa-drop_text {
  margin-bottom: 10; }

form{
	float: inherit;
}

fieldset {
  border: none;
  margin: 0 2px;
  padding: 0; }

#map {
	width:100%;
	height: 500px;
}

#timefilter > li{
	display: inline-block;
	margin-right: 10px;
}
.usa-section{
	background-color: #f1f1f1;
}
.card{
	background-color: white;
	box-shadow: 0 -1px 0 #f1f1f2,0 0 2px rgba(0,0,0,.05),0 2px 4px rgba(0,0,0,.09);
	padding: 1.5em;
	margin: 1em 0 1em 0;
	position: relative;
}
.dropdown{
	position: absolute;
	right: 2em;
	top: 1em;
}
