html{
	position: relative;
	min-height: 100%;
}

.doc-logo {
	padding-top: 10px;
	height: 65px;
	position: absolute;
}


header{
	background-color: #112e51;
	height: 70px;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
}

.header-left{
	display: inline-block;
	color: white;
}
.subheader-text{
	font-size: 0.8em;
	padding-left: 70px;
}

.header-text {
	color: white;
	margin: .05em 0 0;
	display: inline-block;
	padding-left: 70px;
	padding-top: 20px;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 25px;
}

nav{
	float: right;
}

.nav-buttons{
	float:right;
	padding-top: 20px;
}

.btn{
	border-radius: 0;
	border-color: transparent;
}
.my-button{
	color: white;
    background-color: transparent;
    border-radius: 0;
    border-color: transparent;
    font-weight: bold;
    font-size: 15px;
}

.my-button:hover,
.btn-default:focus,
.btn-default.my-button:focus
 {
  background-color: #205493;
   border-color: transparent;
  color:white;
}

/*.my-button:active,
.my-button:focus {
  background-color: #205493;
  border-color: transparent;
  color:white;
}*/


.btn-primary{
	background-color: #205493;
}

.btn-success{
	background-color: #2e8540;
}

body {
	background-color: white;
	font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
	margin-bottom: 40px;
}

/*body > .container {
  padding: 60px 15px 0;
}*/

/*.container{
	padding-top: 20px;
	padding-bottom: 20px;
}*/

.container:empty{
	display: none;
}

ul, li{
	list-style: none;
	list-style-type: none;
}

h1, h2, h3 {
	font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
	font-weight: 500;
	font-size: 30px;
}

.accordion-padding {
	padding: 20px;
}

main {
    padding-bottom: 75px; /* equal to footer height */
}

footer {
    height: 75px;
    background-color: #112e51;
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0;
    clear: both;
    margin-top: -75px; /* equal to footer height */
}
.footer-content>p{
	font-size: 1.35em;
	float: left;
	font-family: 'Raleway', sans-serif;
	margin-top: 25px;
	margin-left: 5px;
}
.footer-content a{
	color: #fff
}
.footer-text{
	font-size: 1.05em;
	margin-top: 25px;
	margin-right: 25px;
	float: right;
	display: block;
}
.footer-content.footer-text{
	align: right;
}
.footer-content>img{
	margin-left: 25px;
	margin-top: 15px;
	height: 45px;
	float: left;
}
.background-image {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    background-image: url(../img/night-lights.png);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding: 275px;
}

.home-heading{
	font-family: 'Raleway', sans-serif;
	padding-bottom: 10px;
	font-size: 100px;
	text-shadow: 2px 2px 8px black;
}

.home-heading-text{
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	text-shadow: 2px 2px 8px black;
}

/* For trip_detail.html */
.back-button{
	float: right;
}

.add-button{
	width: 100px;
	margin-left: 20px;
	text-transform: uppercase;
	font-size: 15px;
}

.border-box{
    box-sizing: border-box;
    background-color: #f1f1f1;
    box-shadow: 7px 7px 5px #d6d7d9 ;
    padding-top: 1em;
    position: relative;
    /*border-radius: 5px;*/
}

table {
	margin: 0em;
}

.table-links,
.table-links:hover{
	color: #333333;
	text-decoration: none;
}
div.mobile_button {
	display: none;
}

@media(max-width: 768px) {
	header {
		background-color: #112e51;
		height: 100px;
	    color: white;
	    padding-left: 20px;
	    padding-right: 20px;
}

fieldset {
  border: none;
  margin: 0 2px;
  padding: 0; }
}

#map {
	width:100%;
	height: 450px;
	z-index: 5px;
	margin-bottom: 20px;
}

#timefilter > li{
	display: inline-block;
	margin-right: 10px;
	padding: 20px;
	font-size: 17px;
}

.dropdown{
	position: absolute;
	right: 2em;
	top: 1em;
}

td > a{
	display: block;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

text{
	text-shadow: 0px 0px 4px #000000;
}

ul li:before {
  content: " ";
  display: table-cell;
  padding-right: 0.4em;
}

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #5B616B;
  border-radius: 0px;
}

.select2-container .select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 45px;
  user-select: none;
  -webkit-user-select: none;
}

.container.dashboardViewBuffer {
	padding-top: 30px;
	padding-bottom: 0px;
}

.destinationTitle {
	display: inline-block;
	margin-top: 0px;
}

.dropdown.dashboardDropdownStyle {
	position: initial;
	display: inline-block;
	padding-left: 20px;
	font-size: 20px;
	padding-bottom: 20px;
}

.dashboardBottomContainer {
	margin-top: 20px;
	margin-left: 20px;
}

.dashboardBottomContainer-text{
	margin-top: -20px;
}

#report-table td{
   text-align: center;
}

.top-destinations{
	margin-top: 20px;
	margin-left: -20px;
}

.display-inline{
	display: inline;
}

.upcoming-itineraries{
	margin-right: 20px;
}

.breadcrumbs.container{
	margin-top:5px;
}

.btn-danger {
	width: inherit;
}

/*Toggle Button*/

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
  color: #fff;
  background: #205493;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary:hover,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary:hover {
  color: #fff;
  background: #205493;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-info,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-info {
  color: #fff;
  background: #323a45;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-info:hover,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-info:hover {
  color: #fff;
  background: #323a45;
}

.bootstrap-switch.bootstrap-switch-focused {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: inset none;
}

.bootstrap-switch .bootstrap-switch-handle-on,
.bootstrap-switch .bootstrap-switch-handle-off,
.bootstrap-switch .bootstrap-switch-label {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  display: inherit;
  height: 100%;
  padding: 6px 12px;
  font-size: 17px;
  font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
  line-height: 20px;
}
