{% extends 'base.html' %}
{% block content %}
<h3>Events   <a href="{% url 'event_new' %}" class="btn btn-success add-button">Add</a></h3>
<div>
  <table class="table table-hover">
    <thead class="thead-default">
      <tr>
        <th scope='col'> Name </th>
        <th scope='col'> Type </th>
        <th scope='col'> City </th>
        <th scope='col'> Country </th>
      </tr>
    </thead>
    <tbody onclick="getElementById('row-info').click()" style="cursor: pointer">
      {% for event in object_list %}
      <tr>
        <td><a class="table-links" href="{% url 'event_detail' pk=event.pk %}" id="row-info">{{event.name}}</a></td>
        <td><a class="table-links" href="{% url 'event_detail' pk=event.pk %}" id="row-info">{{event.event_type}}</a></td>
        <td><a class="table-links" href="{% url 'event_detail' pk=event.pk %}" id="row-info">{{event.cities_light_city.name}}</a></td>
        <td><a class="table-links" href="{% url 'event_detail' pk=event.pk %}" id="row-info">{{event.cities_light_country.name}}</a></td>
      </tr>
      {% endfor%}
    </tbody>
  </table>
  {% if is_paginated %}
  <nav>
    <ul class="pagination">
      {% if page_obj.has_previous %}
      <li>
        <a href="{% url 'event_list' %}?page={{ page_obj.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% endif %}
      {% for page in page_obj.paginator.page_range %}
        {% if page_obj.number == forloop.counter %}
        <li class='active'>
        {% else %}
        <li>
        {% endif %}
          <a href="{% url 'event_list' %}?page={{forloop.counter}}">{{forloop.counter}}</a></li>
        </span>

      {% endfor %}
      {% if page_obj.has_next %}
      <li>
        <a href="{% url 'event_list' %}?page={{ page_obj.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
</div>
{% endblock %}
