{% extends 'base.html' %}

{% block content %}
 <a href="{% url 'trip_list' %}" class="btn btn-primary">Back to Add/Edit Itineraries</a>
  <h2>Add a New Event</h2>
  
  <form method="POST">
  <fieldset class="form-group">
    {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-success">Save</button>
   </fieldset>
  </form>

{% endblock %}

{% block footer %}
<script type="text/javascript" src="/static/collected/admin/js/vendor/jquery/jquery.js"></script>

{{ form.media }}
{% endblock %}
