{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
 <a href="{% url 'trip_list' %}" class="btn btn-primary">Back to Add/Edit Itineraries</a>
  <h2>Add a New Event</h2>
  
  <form method="POST">
    {% csrf_token %}
        {% crispy form %}
        <button type="submit" class="save btn btn-success">Save</button>
  </form>

{% endblock %}

{% block footer %}
<script type="text/javascript" src="/static/collected/admin/js/vendor/jquery/jquery.js"></script>

{{ form.media }}
{% endblock %}
