{% extends "base.html" %}
{% load staticfiles %}
{% block home %}

<section class="background-image ">
	<div>
		<!-- <p class="home-heading-text">Welcome to the</p> -->
		<h2 class="home-heading">Welcome to the <br>Principal Travel Tracker</h2> 
		<p class="home-heading-text">This tool has been built by the Commerce Data Service to assist with the recording and reporting process of tracking principals travels around the world. </p>
	</div>

	<!--<img src="{% static "img/night-lights.png" id="bg" %}">-->

</section>

{% endblock %}
