{% extends 'base.html' %}

{% block content %}
{% for annual_report in annual_report_list %}
<a href="{% url 'report' %}?year={{annual_report}}">{{annual_report}}</a>
{% endfor %}
<table class="table table-bordered">
  <thead class="thead-default">
    <tr>
      <th scope='col'>{{year}}</th>
      {% for month in months %}
      <th scope='col' >{{month.1}}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for country in countries %}
    <tr>
      <td>
        {{country.0}}
      </td>
      {% for month in months %}<td>{% for data in data_list %}{% if data.country == country.0 %}{% if data.month == month.0|slugify and data.count != 0 %}<a href="{% url 'trip_list' %}?month={{month.0}}&amp;year={{year}}&amp;country={{country.1}}">{{data.count}}</a>{% endif %}{% endif %}{% endfor %}</td>{% endfor %}
    {% endfor %}
    </tr>
</tbody>
</table>

{% endblock %}
