{% extends "base.html" %}
{% block content%}
<h3>Itineraries</h3>
<div>
  <table class="table table-striped">
    <thead class="thead-default">
      <tr>
        <th scope='col'> </th>
        <th scope='col'> Principal Name </th>
        <th scope='col'> Event Name </th>
        <th scope='col'> Trip Start Date </th>
        <th scope='col'> Trip End Date </th>
        <th scope='col'> Trip Location(s) </th>
      </tr>
    </thead>
    <tbody>
      {% for trip in object_list %}
      <tr>
        <td>
          <a href="{% url 'trip_detail' pk=trip.pk %}" class="btn btn-primary btn-sm">View</a>
          <a href="{% url 'trip_edit' pk=trip.pk %}" class="btn btn-primary btn-sm">Edit</a>
<br>
        </td>
        <td>{{trip.principal.first_name}} {{trip.principal.last_name}}</td>
        <td> {{trip.event_name}}</td>
        <td>{{trip.start_date}}</td>
        <td>{{trip.end_date}}</td>
        <td>{{trip.country}}</td>
      </tr>
      {% endfor%}
    </tbody>
  </table>
</div>
{% endblock%}
