{% extends "base.html" %}
{% block content%}
{% block breadcrumb %} {% endblock %}
<h3>Itineraries   <a href="{% url 'trip_new' %}" class="btn btn-success">Add</a></h3>
<div>
  <table class="table table-hover">
    <thead class="thead-default">
      <tr>
        <th scope='col'> </th>
        <th scope='col'> Principal Name </th>
        <th scope='col'> Event Name </th>
        <th scope='col'> Trip Start Date </th>
        <th scope='col'> Trip End Date </th>
        <th scope='col'> Trip Location(s) </th>
      </tr>
    </thead>
    <tbody onclick="getElementById('edit-1').click()" style="cursor: pointer">
      {% for trip in object_list %}
      <tr><a href="{% url 'trip_detail' pk=trip.pk %}">
        <td>
        
         <!--  <a href="{% url 'trip_edit' pk=trip.pk %}" class="btn btn-primary btn-sm">Edit</a> -->
<br>
        </td>
        <td><a class="table-links" href="{% url 'trip_detail' pk=trip.pk %}" id="edit-1">{{trip.principal.first_name}} {{trip.principal.last_name}}</a></td>
        <td><a class="table-links" href="{% url 'trip_detail' pk=trip.pk %}" id="edit-1">{{trip.event_name}}</a></td>
        <td><a class="table-links" href="{% url 'trip_detail' pk=trip.pk %}" id="edit-1">{{trip.start_date}}</a></td>
        <td><a class="table-links" href="{% url 'trip_detail' pk=trip.pk %}" id="edit-1">{{trip.end_date}}</a></td>
        <td><a class="table-links" href="{% url 'trip_detail' pk=trip.pk %}" id="edit-1">{{trip.country}}</a></td>
      </a></tr>
      {% endfor%}
    </tbody>
  </table>
</div>
{% endblock%}
