{% load staticfiles %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html>
  <head>
   <meta charset="utf-8">
   <title>{% block title %}Principal Travel Tracker{% endblock %}</title>

    <link rel="stylesheet" href="{% static "leaflet/leaflet.css" %}">
    <link rel="stylesheet" href="{% static "css/master.css" %}">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "lib/underscore/underscore.js" %}"></script>
    <script src="{% static "js/d3.js" %}"></script>
    <script src="{% static "handlebars.js" %}"></script>
    <script src="{% static "leaflet/leaflet.js" %}"></script>
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {% block head %}{% endblock %}
  </head>

<body>
<header>
  <section>
    <div class="header-left">
        <a href="{% url 'home_view' %}"><img src="{% static "img/doc-logo-small.png" %}" class="doc-logo" alt="Department of Commerce logo">
        <h3 class="header-text"> Principal Travel Tracker </h3></a>
    </div>



  <nav>


          {% if user.id == None %}
      <div class="nav-buttons">
        <a class="btn btn-default" href="/accounts/login">Login</a>
        <a class="btn btn-default" href="/accounts/register">Register</a>
      </div>
          {% else%}
      <div class="nav-buttons">
          <a class="btn btn-default" href="{% url 'dashboard' %}"> Dashboard </a>
          <a class="btn btn-default" href="{% url 'trip_new' %}"> Create Itinerary </a>
          <a class="btn btn-default" href="{% url 'trip_list' %}"> Itineraries </a>
          <a class="btn btn-default" href="{% url 'event_list' %}"> Events </a>
          <a class="btn btn-default" href="{% url 'principal_list' %}"> Principals </a>
          <a class="btn btn-default" href="/accounts/logout">Logout</a>
      </div>

          {% endif %}

</nav>
     </section>
   </header>
   <main>
     <div class="container">{% block content %}{% endblock %}</div>

    <div>{% block home %}{% endblock %}</div>

   </main>



<footer>
<div class="footer-text">
          <p>Site created by the Commerce Data Service |
          <a href="https://github.com/CommerceDataService/ITA_Principal_Travel" >View on GitHub  </a><i class="fa fa-github"></i></p>
      </div>
</footer>
{% block footer %}{% endblock %}
 </body>
</html>
