{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
   <meta charset="utf-8">
   <title>{% block title %}Principal Travel Tracker{% endblock %}</title>
    <!--<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="{% static "css/normalize.min.css" %}">
   <link rel="stylesheet" href="{% static "css/google-fonts.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static "css/master.css" %}">
    <script src="{% static "js/vendor/jquery-1.11.3.min.js" %}">
    </script>
    <script src="{% static "js/components.js" %}"></script>
    {% block head %}{% endblock %}
  </head>

<body>
<header>
  <section>
    <div class="header-left">
        <img src="{% static "img/doc-logo-small.png" %}" class="doc-logo" alt="Department of Commerce logo">
        <a href="{% url 'trip_list' %}"><h3 class="header-text"> Principal Travel Tracker </h3></a>
    </div>



  <nav>


          {% if user.id == None %}
      <div class="nav-buttons button-wrapper">
        <a class="usa-button usa-button-outline-inverse" href="/accounts/login">Login</a>
        <a class="usa-button usa-button-outline-inverse" href="/accounts/register">Register</a>
      </div>
          {% else%}
      <div class="nav-buttons usa-width-one-whole">
          <a class="usa-button usa-button-outline-inverse" href="/admin"> Dashboard </a>
          <a class="usa-button usa-button-outline-inverse" href="{% url 'trip_new' %}"> Create New Itinerary </a>
          <a class="usa-button usa-button-outline-inverse" href="{% url 'trip_list' %}"> View Itineraries </a>
          <a class="usa-button" href="/accounts/logout">Logout</a>
      </div>

          {% endif %}

</nav>
     </section>
   </header>

   <main class="usa-grid">
     <div class="container border-box">{% block content %}{% endblock %}</div>

    <div>{% block home %}{% endblock %}</div>

   </main>



<footer>
<div class="usa-footer-primary-section footer-text">
          <p class="usa-background-dark">Site created by the Commerce Data Service |
          <a href="https://github.com/CommerceDataService/ITA_Principal_Travel" >View on GitHub  </a><i class="fa fa-github"></i></p>
      </div>
</footer>

 </body>
</html>
